h1 Todo List

h3 Search for the task
form(action='/todos/search', method='GET')
	input(type='text', name='q',value=q)
	button Search

ul
	each task in todos
		li
		span= task.todo
		span &nbsp;
		a(href='/todos/' + task.id) View
		span &nbsp;
		a(href="/todos/" +task.id +"/delete") Delete
a(href="/todos/create") New task